<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>MainController</filter-name>
        <filter-class>khangtl.controllers.MainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khangtl.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>khangtl.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>khangtl.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khangtl.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>khangtl.controllers.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTourController</servlet-name>
        <servlet-class>khangtl.controllers.CreateTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>khangtl.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>khangtl.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourController</servlet-name>
        <servlet-class>khangtl.controllers.DeleteTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutCartController</servlet-name>
        <servlet-class>khangtl.controllers.CheckoutCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookController</servlet-name>
        <servlet-class>khangtl.controllers.LoginFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentController</servlet-name>
        <servlet-class>khangtl.controllers.ReviewPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDiscountController</servlet-name>
        <servlet-class>khangtl.controllers.CheckDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentController</servlet-name>
        <servlet-class>khangtl.controllers.ExecutePaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/ErrorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTourController</servlet-name>
        <url-pattern>/CreateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourController</servlet-name>
        <url-pattern>/DeleteTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutCartController</servlet-name>
        <url-pattern>/CheckoutCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookController</servlet-name>
        <url-pattern>/LoginFacebookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentController</servlet-name>
        <url-pattern>/ReviewPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDiscountController</servlet-name>
        <url-pattern>/CheckDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentController</servlet-name>
        <url-pattern>/ExecutePaymentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorController</location>
        <context-param>
            <param-name>ERROR</param-name>
            <param-value>Page not found</param-value>
        </context-param>
        <param-name/>
        <param-value/>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DreamTraveling</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
